<div class="navbar">
    <h1 class="baner">SynthPol</h1>

    <div class="navbar-buttons">
        <button mat-icon-button aria-label="cart" matTooltip="Koszyk" [matTooltipShowDelay]="500"
            matTooltipPosition="below" class="btn-element" (click)="navigateToCart()">
            <mat-icon [matBadge]="productsInCartCounter">shopping_cart</mat-icon>
        </button>
        <button *ngIf="!dataService.isUserLoggedIn" (click)="login()" class="btn-element" mat-fab color="#DAF0EE">Login</button>
        <button *ngIf="dataService.isUserLoggedIn" (click)="logout()" class="btn-element" mat-fab color="#DAF0EE">Logout</button>
    </div>

</div>